@charset "UTF-8";
.login-header{
    height: 82px;
    width: 100%;
    background: #f8f8f8;
}
.login-header-main{
    margin: 0 auto;
    width: 1100px;
}
.login-header-l{
    height: 45px;
    width: 142px;
    float: left;
    margin: 20px 77px 0 0;
    position: relative;
}
.login-header-r li{
    float: left;
    width: 100px;
    height: 40px;
    margin-top: 22px;
    background: url("../images/login/login_header_icon.png") no-repeat ;
    margin-left: 60px;
}
.login-header-r li:nth-child(2){
    background-position:0 -40px;
}
.login-header-r li:nth-child(3){
    background-position:0 -80px;
}
.login-header-r li:nth-child(4){
    background-position:0 -120px;
}
.login-header-r li:nth-child(5){
    background-position:0 -160px;
}
.login-header-line{
    border-left: #d7d7d7 solid 1px;
    height: 20px;
    position: absolute;
    top: 32px;
    left: 390px;
}
.login-header-r li span{
    float: right;
    font-size:14px;
    line-height: 40px;
}
.footer{
    border-top: #00aaa0 1px solid;
    height: 300px;
}
.footer-wrap{
    width: 1100px;
    margin: 0 auto;
}
.footer-list{
    float: left;
    font-size: 18px;
    text-align: center;
    margin-top: 50px;
    margin-right: 40px;
    margin-left: 10px;
}

.footer-list dd ul li a{
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    color: black;
}
.footer-list-last{
    margin-top: 30px;
}
.footer-img{
    float: right;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 10px;
}
.bottom{
    height: 140px;
}
.bottom-wrap{
    margin: 0 auto;
    width: 1000px;
    border-top: 1px solid #d7d7d7;
    text-align: center;
}

.bottom-wrap span img{
    margin: 20px 2px 5px;
}
.bottom-wrap p{
    font-size: 12px;
    line-height: 16px;
    margin-top: 5px;
}
.bottom-wrap p a{
    text-decoration: none;
    color: black;
}
.bottom-wrap p:nth-last-child(1){
    line-height: 20px;
    height: 20px;
    width: 1000px;
    text-align: center;
}
.bottom-wrap p:nth-last-child(1) img{
    float: left;
    margin-left: 210px;
}
.bottom-wrap p:nth-last-child(1) span{
    float: left;
}
.tongJi{
    display: block;
}
